{% extends 'base.html' %}

{% block content %}
<style>

</style>
<div class="table-row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-9">
            <div class="w3-center" style="padding:220px;font-family:'Lato';">
                <span style="text-align:center;">
                    Welcome to the UP Diliman E-Kiosk. A project made by Brian Cho and Mc Edrian Sestoso.
                    The E-Kiosk project is a website that offers an online food service on the Internet.

                </span>
                <p>
                </p>
            </div>
    </div>
</div>

{% endblock %}