{% extends 'base.html' %}

{% block content %}
<style>

.btn-3 {
  line-height: ;
  padding: 20px 125px;
}
.btn-3:hover{
  background: transparent;
  color: #000;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

.row_list li{
display: inline;
}
</style>
{% include 'menusidebar.html' %}
<p>
<form action="/menu/alacarte">
    <input class="custom-btn btn-11" type="submit" value="Go back" name="action"></form>

    <p>
<form action="{{ url_for('instprocessing') }}" method="post">
    <input class="custom-btn btn-11" type="submit" value="Confirm order" name="action">
</p>

<h1>{{ alacarte_type}}</h1>

{% for alkeys, values in price.items() %}
    {% if alacarte_type == alkeys %}
    <input class="hidden" value="{{ alkeys }}" name="alkeys" readonly> {{ alkeys }} </input>
        {% for value in values %}
        <p>
        Price:
        </p>
        <p>
        <h2> <input type="number" value="{{ value.get('price') }}" name="value.price" readonly>
           </h2>
        </p>
        <p>
        <br>
        Order amount:
        <div class="number">
        <span class="minus">-</span>
        <input type="number" value="{{ value.get('amount') }}" name="value.amount" required>
        <span class="plus">+</span>
        </div>
        </p>
        {% endfor %}
    {% endif %}
{% endfor %}

{% if alacarte.get(alacarte_type) %}
    {% for alkeys, values in alacarte.items() %}
        {% if alacarte_type == alkeys %}
            Sauce: <select name="value.flavor" id="al_flavor" required>
            {% for value in values %}
                <option value="{{ value.get('flavor') }}" name="{{ value.flavor }}">{{ value.get('flavor') }}</option>
            {% endfor %}
            </select>

        {% endif %}
    {% endfor %}
{% endif %}

</form>
{% endblock %}