{% extends 'base.html' %}

{% block content %}
<style>
.btn-3 {
  line-height: ;
  padding: 20px 125px;
}
.btn-3:hover{
  background: transparent;
  color: #000;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

</style>
{% include 'menusidebar.html' %}
  <h1>Order a meal.</h1>


  <div class="col-sm-9">
    <div class="well">
      <h4>Dashboard</h4>
      <p>Some text..</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
        <h4>Pancit Canton</h4>
        <p><button class="" type="submit" value="Pancit Canton" name="action">Order</button></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
        <h4>Kwek-kwek</h4>
        <p><button class="" type="submit" value="Kwek-kwek" name="action">Order</button></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h4>Kikiam</h4>
        <p><button class="" type="submit" value="Kikiam" name="action">Order</button></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="well">
        <h4>Fish Ball</h4>
        <p><button class="" type="submit" value="Fish Ball" name="action">Order</button></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
        <h4>Squid Ball</h4>
        <p><button class="" type="submit" value="Squid Ball" name="action">Order</button></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h4>Chicken Ball</h4>
        <p><button class="" type="submit" value="Chicken Ball" name="action">Order</button></p>
        </div>
      </div>
    </div>

{% endblock %}
