{% extends 'base.html' %}

{% block content %}
<style>
.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  background: none;
}
.btn-11:hover {
   background: #ff928e;
  color: white;
}

.name a {
  display: inline-block; /* add this line */
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}

.name a:hover {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

.name a {
    z-index: 999;
}

.btn-img {
  border: none;
  padding: 0;
  background: none;
}
</style>
{% include 'menusidebar.html' %}
{% for mealtype in meals %}
    {% if mealtype.meals_type == 'combomeals' %}
    <div class="col-md-8" >
    <a href="/menu/{{ mealtype.meals_type }}/">
        <button class="btn-11" type="submit" name="menu" style="width:100%;text-align:left;">
            <img src="{{ url_for('static', filename=mealtype['url']) }}" style="width:100%;">
        </button>
    </a></div>
    {% elif mealtype.meals_type == 'alacarte' %}
    <div class="col-md-4">
    <a href="/menu/{{ mealtype.meals_type }}/">
        <button class="btn-11" type="submit" name="menu" style="width:100%;text-align:left;">
            <img src="{{ url_for('static', filename=mealtype['url']) }}" style="width:100%;">
        </button>
    </a></div>
    {% elif mealtype.meals_type == 'drinks' %}
    <div class="col-md-4">
    <a href="/menu/{{ mealtype.meals_type }}/">
        <button class="btn-11" type="submit" name="menu" style="width:100%;text-align:left;">
            <img src="{{ url_for('static', filename=mealtype['url']) }}" style="width:100%;">
        </button>
    </a></div>
    {% endif %}
{% endfor %}
</div>


{% endblock %}
