{% extends 'base.html' %}

{% block content %}

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

.custom-btn {
  width: 70px;
  height: 30px;
  padding: 0px 0px;
  border: 2px solid #ff928e;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn-11:hover {
  background: #ff928e;
  color: #fff;
}
.btn-11:before {
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.container1{
	max-width: 100%;
	margin-right:auto;
	margin-left:auto;
	display:absolute;
	align-items:center;
	min-height:;
	font-family: 'Lato';
}

.container2 {
	max-width: 100%;
	margin-right:auto;
	margin-left:5%;
	display:inline;
	align-items:center;
	min-height:;
	font-family: 'Lato';
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
}

.table-header {
	display:flex;
	height:50px;
	width:100%;
	background:#ff928e;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

h16 {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	top: 30%;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}

.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#ff928e!important;background-color:white!important;border:10px;}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-border{  border: 2px solid #ff928e;}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-color: #ff928e;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  border: 0px solid #ff928e;
  border-radius: 0px;
  margin-right: 2rem;
  color:white;
  padding: 10px;
  outline: none;
  padding-right: 2rem;
  active-color:white;
  font-family: 'Lato';
}
select option {
    color: #ff928e;
    background-color: white;
    font-weight: 900;

}

</style>


{% if cartchecker == True %}

<div class="container1">
	<div class="table">
		<div class="table-header">
			<div class="header__item"><h16></h16></div>
			<div class="header__item"><h16>AMOUNT</h16></div>
			<div class="header__item"><h16>CART ORDER</h16></div>
			<div class="header__item"><h16></h16></div>
			<div class="header__item"><h16>MEAL TYPE</h16></div>
			<div class="header__item"><h16>PRICE</h16></div>
            <div class="header__item"><h16>TOTAL</h16></div>
            <div class="header__item"><h16></h16></div>
            <div class="header__item"><h16></h16></div>
            <div class="header__item"><h16></h16></div>
		</div>
{% for userdata in usercart %}
    <form action="{{ url_for('edit') }}" method="post">

		<div class="table-content">
                <br><div class="table-row" style="border-bottom: 2px solid #eee;">
				<div class="table-data">
                    <input class="hidden" id="cart_id" name="cart_id" value="{{ userdata.cart_id }}" readonly>
                </div>
                <div class="table-data">
                    <input style="width:60px;" type="number" id="alacarte_amount" name="alacarte_amount" value="{{ userdata.amount }}">
                </div>
                {% if userdata.alacarte_type == 'NULL' %}
				<div class="table-data">{{ userdata.drinks_type|title }}</div>
                {% elif userdata.drinks_type == 'NULL' %}
				<div class="table-data">{{ userdata.alacarte_type|title }}</div>
                {% endif %}
                <div class="table-data">
                {% if userdata.sauces_type == 'NULL' %}
                    <input class="hidden" id="scs_type" name="alacarte_sauce" value="{{ userdata.sauces_type }}" readonly>
                {% else %}
                    <select name="alacarte_sauce" id="scs_type" style="width: 100px;">
                        {% if userdata.sauces_type == 'plain' %}
                        <option value="plain" selected>Plain</option>
                        {% else %}
                        <option value="plain">Plain</option>
                        {% endif %}
                        {% if userdata.sauces_type == 'sweet' %}
                        <option value="sweet" selected>Sweet</option>
                        {% else %}
                        <option value="sweet">Sweet</option>
                        {% endif %}
                        {% if userdata.sauces_type == 'sweet & spicy' %}
                        <option value="sweet & spicy" selected>Sweet & Spicy</option>
                        {% else %}
                        <option value="sweet & spicy">Sweet & Spicy</option>
                        {% endif %}
                        {% if userdata.sauces_type == 'vinegar dip' %}
                        <option value="vinegar dip" selected>Vinegar Dip</option>
                        {% else %}
                        <option value="vinegar dip">Vinegar Dip</option>
                        {% endif %}
                        {% if userdata.sauces_type == 'sweet & spicy and vinegar dip' %}
                        <option value="sweet & spicy and vinegar dip" selected>Sweet & Spicy and Vinegar Dip</option>
                        {% else %}
                        <option value="sweet & spicy and vinegar dip">Sweet & Spicy and Vinegar Dip</option>
                        {% endif %}
                    </select>
                {% endif %}
                {% if userdata.flavors_type == 'NULL' %}
                    <input class="hidden" id="fl_type" name="alacarte_flavor" value="{{ userdata.flavors_type }}" readonly>
                {% else %}
                    <select name="alacarte_flavor" id="fl_type" style="width: 100px;">
                        {% if userdata.flavors_type == 'classic' %}
                        <option value="classic" selected>Classic</option>
                        {% else %}
                        <option value="classic">Classic</option>
                        {% endif %}
                        {% if userdata.flavors_type == 'calamansi' %}
                        <option value="calamansi" selected>Calamansi</option>
                        {% else %}
                        <option value="calamansi">Calamansi</option>
                        {% endif %}
                        {% if userdata.flavors_type == 'chili-mansi' %}
                        <option value="chili-mansi" selected>Chili-mansi</option>
                        {% else %}
                        <option value="chili-mansi">Chili-mansi</option>
                        {% endif %}
                        {% if userdata.flavors_type == 'sweet & spicy' %}
                        <option value="sweet & spicy" selected>Sweet & Spicy</option>
                        {% else %}
                        <option value="sweet & spicy">Sweet & Spicy</option>
                        {% endif %}
                        {% if userdata.flavors_type == 'hot-chili' %}
                        <option value="hot-chili" selected>Hot-chili</option>
                        {% else %}
                        <option value="hot-chili">Hot-chili</option>
                        {% endif %}
                    </select>
                {% endif %}

                </div>
				<div class="table-data">
                    {% if userdata.meals_type == 'combomeals' %}
                        <input class="hidden" name="meals_type" value="{{ userdata.meals_type }}" readonly>
                        COMBO MEAL
                    {% elif userdata.meals_type == 'alacarte' %}
                        <input class="hidden" name="meals_type" value="{{ userdata.meals_type }}" readonly>
                        À LA CARTE
                    {% elif userdata.meals_type == 'drinks' %}
                        <input class="hidden" name="meals_type" value="{{ userdata.meals_type }}" readonly>
                        DRINK
                    {% endif %}
                </div>

				<div class="table-data"><input type="hidden" id="price" name="price" value="{{ userdata.price }}" readonly>
                    ₱{{ userdata.price }}</div>
                <div class="table-data">
                    <input type="hidden" id="total_amount" name="total_amount" value="{{ userdata.total_amount }}" readonly>
                    ₱{{ userdata.total_amount }}
                </div>
                <div class="table-data"><input class="custom-btn btn-11" type="submit" value="EDIT" name="action">
                </div>
    </form>

                <div class="table-data">
                    <form action ="{{ url_for('delete', cart_id=userdata.cart_id) }}" method="post">
                        <input class="custom-btn btn-11" type="submit" value="DELETE" name="action"
                        style="font-family:'Lato';background-color:#ff928e;color:white;margin-bottom:5%;">
                    </form>
                </div>
                <div class="table-data">
                </div>
			    </div>
		</div>
{% endfor %}
	</div>
</div>
<div>
</div>
<div class="col-sm-4" style="display:inline">
    <form action="/menu">
        <input class="custom-btn btn-11" type="submit" value="Add more" name="action"
        style="margin-left:37%;width:25%;">
    </form>
    </div>
<div class="col-sm-4" style="display:inline;text-align:right;">
</div>
<div class="col-sm-4" style="display:inline;text-align:right;">
    <form action="{{ url_for('checkout', user_id=user_id, users=username) }}" method="post">
        <input class="custom-btn btn-11" type="submit" name="CHECK OUT" value="Check out"
       style="margin-right:37%;width:25%;">
    </form>
</div>

{% else %}

<div class="w3-container w3-panel ">
        <div class="w3-container w3-center" style="padding:220px;font-family:'Lato';">
    <h3> Your cart seems to be empty. Order meals
        <a href="{{ url_for('basemenu') }}" style="padding:0px 0px;">here.</a></h3>
        </div>
</div>
{% endif %}


{% endblock %}