{% extends 'base.html' %}

{% block content %}

<style>

.btn-11 {
  overflow: hidden;
  transition: all 0.3s ease;
  border: solid;
  border-width:2px;
  border-color: #ff928e;
  color: #ff928e;
  padding: 3px 3px 3px 3px;
  background: none;
}
.btn-11:hover {
   background: #ff928e;
  color: white;
}

.row_list li{
display: inline-block;
}

.grid-container {
  margin-top: 2%;
  display: grid;
  height: 100%;
  padding: 2%;
  grid-template-columns: 300px 10px 300px 160px;
  grid-template-rows: 30px 10px 200px 120px;
  grid-gap: 1%;
  background-color:;

}
.grid-item {
  background-color: white;
  text-align: center;
}
</style>
{% include 'menusidebar.html' %}
<div class="grid-container">
  <div class="grid-item">
    <form action="/menu/drinks">
    <input class="custom-btn btn-11" type="submit" value="Go back" name="action" style="margin-right:80%;">
    </form>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <form action="{{ url_for('mealprocessing') }}" method="post">
    <input class="custom-btn btn-11" type="submit" value="Confirm order" name="action">
  </div>
  <div class="grid-item">
    <input class="hidden" id="username" name="username" value="{{ username }}" readonly>
    <input class="hidden" id="user_id" name="user_id" value="{{ user_id }}" readonly>
    <input class="hidden" id="alacarte_type" name="alacarte_type" value="NULL" readonly>
    <input class="hidden" id="alacarte_sauce" name="alacarte_sauce" value=NULL readonly>
    <input class="hidden" id="alacarte_flavor" name="alacarte_flavor" value=NULL readonly>
      {% for meal in meals %}
        {% if meal['meals_type'] == 'drinks' %}
            <input class="hidden" name="meals_type" value="{{ meal['meals_type'] }}" readonly>
        {% endif %}
    {% endfor %}
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
  </div>
  <div class="grid-item">
      <img src="{{ url_for('static', filename=drinksid.url) }}" style="width:100%;border: 2px solid #ff928e;">
  </div>
  <div class="grid-item"></div>
  <div class="grid-item">
  </div>
  <div class="grid-item">
      <p style="margin-top:50px;">
        <label type=""> Order amount: </label>
            <div class="number">
                <span class="minus">-</span>
                    <input type="number" min="1" value="{{ drinksid.amount }}" name="amount" required>
                <span class="plus">+</span>
            </div>
      </p>
  </div>
  <div class="grid-item">
    <h1> <label for="drinks_type"> {{ drinksid.drinks_type|title }} </label> </h1>
    <input class="hidden" id="drinks_type" name="drinks_type" value="{{ drinksid.drinks_type }}" readonly>
  </div>
  <div class="grid-item">
  </div>
  <div class="grid-item">
          {% for meal in meals %}
        {% if meal['meals_type'] == 'alacarte' %}
            <input class="hidden" name="meals_type" value="{{ meal['meals_type'] }}" readonly>
        {% endif %}
    {% endfor %}
  </div>

  <div class="grid-item">
            <p style="margin-top:50px;">
    <label for="drinks_price"> Price:  {{ drinksid.price }} </label>
    <input class="hidden" id="drinks_price" name="price" value="{{ drinksid.price }}" readonly>
            </p>
  </div>
</div>
</form>

{% endblock %}