{% extends 'base.html' %}

{% block content %}
<style>
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#ff928e!important;background-color:white!important;border:10px;}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-border{  border: 2px solid #ff928e;}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

</style>
<div class="w3-container w3-panel ">
        <div class="w3-container w3-center" style="padding:70px;">
<form action="{{ url_for('loginprocessing') }}" method="post">
    <br>
        <img src="static/img/logo1.png" style="width:10%">
    <h5>THE UP E-KIOSK</h5>
    <h3> SIGN-IN</h3>

    <p><input type="text" name="name" placeholder="Username" style="width:100% align:left"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <div class="w3-section">
        <br>
    <input type="submit" value="LOG-IN">
    <br>
       No account?<a href="{{ url_for('register') }}">Create one here.</a>
</form>
    </div>
    </div>
    </div>

{% endblock %}