{% extends 'base.html' %}

{% block content %}
<style>
.btn-3 {
  line-height: ;
  padding: 20px 125px;
}
.btn-3:hover{
  background: transparent;
  color: #000;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
#name a {
  display: inline-block; /* add this line */
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
}

#name a:hover {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

#name a {
    border:solid 0px red;
    background-color: orange;
    z-index: 999;
}
</style>
{% include 'menusidebar.html' %}
<div class="col-sm-8">
    <div class="row">
    {% if meals['meals_type'] == 'combomeals' %}
        <h1 style="text-indent:10px"><input class="hidden" value="{{ meals_type }}" readonly>COMBO MEALS</h1>
        <a href="/menu/{{ meals_type }}/"></a>
        <div class="col-sm-3">
        <div class="well">
        <p><h4><input class="btn-11" type="submit" value="MAINTENANCE" name="action"></p></h4>
        </div>
        </div>
    {% elif meals['meals_type'] == 'alacarte' %}
        <h1 style="text-indent:10px"><input class="hidden" value="{{ meals_type }}" readonly>A LA CARTE</h1>
        {% for alacartemeals in alacartedict %}
            <div class="col-sm-3">
            <div class="well" id="name">
            <p><h4>{{ alacartemeals.alacarte_type }} </h4>
            <form action="{{ url_for('alacartes',meals_type=meals_type,alacarte_id=alacartemeals.alacarte_id) }}">
            <input class="btn-11" type="submit" value="Add to cart" name="{{ alacartemeals.alacarte_type }}"></p>
            </form>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 style="text-indent:10px"><input class="hidden" value="{{ meals_type }}" readonly>DRINKS</h1>
        <a href="/menu/{{ meals['meals_type'] }}/"></a>
        <div class="col-sm-3">
        <div class="well">
        <p><h4>
        <input class="btn-11" type="submit" value="{{ meals['meals_type'] }}" name="action"></p></h4>
        </div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}
