<style>
.sidebar {
    padding:15px 100px;
    margin-top:3%;
    margin-bottom:100px;
}

.colordivider{
color:#ff928e;
border-style:solid;
border-radius:0px;
border-top:0px;
border-left:0px;
border-right:0px;
border-bottom:100%;
margin-bottom:10px;

}
</style>
<div class="container-fluid">
        <div class="col-xs-6 col-sm-3 sidebar" id="sidebar" role="navigation">
            <div class="sidebar-nav">
    <ul class="nav">
        <li class=""><a href="/menu">On The Menu</a></li>
                    <li class="colordivider"></li>
        <li class=""><a href="/menu/combomeals">Combo Meals</a></li>
                    <li class="colordivider"></li>
        <li class=""><a href="/menu/alacarte">À la Carte</a></li>
                    <li class="colordivider"></li>
        <li class=""><a href="/menu/drinks">Drinks</a></li>
                    <li class="colordivider"></li>
    </ul>
    </div>
  </div>

