<style>
.navbar {
  margin-bottom: 0;
  border-radius: 2px;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom:2px;

  border-style:solid;
  border-color:#ff928e;
}

.navcustom {
  font-family: 'Lato', sans-serif;
}
a:visited, a:link {
  color: #ff928e;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

.navbutton {
  margin-bottom: 0;
  border-radius: 0;
  border-top:0px;
  border-left:2px;
  border-right:2px;

}

}

</style>
<nav class="navbar" style="background-color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='img/logo3.png') }}" width="30%" method="POST"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="margin-left:25%;">
        <li class=""><a href="{{ url_for('index') }}" class="navcustom">Home</a></li>
        <li><a href="{{ url_for('basemenu') }}" class="link navcustom">Menu</a></li>
        <li><a href="{{ url_for('baseorder') }}" class="navcustom">Order</a></li>
        <li><a href="{{ url_for('cart') }}" class="navcustom">Cart</a></li>
        <li><a href="{{ url_for('about') }}" class="navcustom">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if 'user' in session %}
          <li><a href="{{ url_for('profile', username=session['user']) }}"><span class="glyphicon"></span> Profile </a></li>
          <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('register') }}"><span class="glyphicon"></span> Register</a></li>
          <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>