{% extends 'base.html' %}

{% block content %}

<center><h1>Order Now!</h1><br></center>

<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Kiosk 1</div>
          <div class="panel-body"><img src="static/img/kiosk1.jpg" class="img-responsive" style="width:100%" alt="Kiosk 1" width="150" height="150"></div>
          <div class="panel-footer">Order here.</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Kiosk 2</div>
          <div class="panel-body"><img src="static/img/kiosk2.jpg" class="img-responsive" style="width:100%" alt="Kiosk 2" width="150" height="150"></div>
          <div class="panel-footer">Order here.</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Kiosk 3</div>
          <div class="panel-body"><img src="static/img/kiosk3.jpg" class="img-responsive" style="width:100%" alt="Kiosk 3" width="150" height="150"></div>
          <div class="panel-footer">Order here.</div>
        </div>
      </div>
    </div>
  </div><br><br>

<select name="order_type" id="o_type">
    <option selected> ...</option>
    <option value="delivery">Delivery</option>
    <option value="pickup">Pickup</option>
</select>


{% endblock %}